body{
    margin:0;
  }
  @media only screen and (min-width:360px)  {

  main{
    height:85vh;
  }
  .addPostForm {
      position: relative;
      left:10%;
      width: 80vw;
      border: 2px solid #ccc;
      padding: 2em 1em 2em 1em;
      background: #fff;
      border-radius: 15px;
      font-size: 1em;
  }
  
  .addPostForm h2 {
      text-align: center;
      margin-bottom: 1em;
  }
  
  .addPostForm input {
      display: block;
      border: 2px solid #ccc;
      height: 3em;
      width: 95%;
      padding: 10px;
      margin: 10px auto;
      border-radius: 5px;
  }
  .addPostForm label {
      color: #888;
      padding: 10px;
  }
  
  .addPostForm button {
      position: relative;
      background: #555;
      padding: 10px 15px;
      color: #fff;
      left: .5em;
      border-radius: 5px;
      margin-right: 10px;
      border: none;
      font-size: 1em;
  }
  .addPostForm button:hover{
      opacity: .7;
  }
  .postFormError .error {
     background: #F2DEDE;
     color: #A94442;
     padding: 10px;
     width: 95%;
     border-radius: 5px;
     margin: 20px auto;
     text-align: center;
  }
  
  .postFormError .success {
     background: #D4EDDA;
     color: #40754C;
     padding: 10px;
     width: 95%;
     border-radius: 5px;
     margin: 20px auto;
     text-align: center;
  }
  
  .addPostForm .ca {
    left: .5em;
    position: relative;
    display: inline-block;
    padding-top: 1em;
    text-decoration: none;
    color: #444;
  }
  .addPostForm .ca:hover {
      text-decoration: underline;
  } 
}@media only screen and (min-width:414px)  {
    main{
        height: 100vh;
    }
    .addPostForm{
        margin: 3em 0em;
        font-size: 1.35em;
    }
    .addPostForm .ca{
        font-size: 1em;
    }
}@media only screen and (min-width:600px){
    main{
        height: 75vh;
    }
}
@media only screen and (min-width:720px){
    main{
      font-size: 1.25em;
      height: 65vh;
    }
  }