@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media only screen and (min-width:360px)  {

header{
  margin:1em;
}
body{
  font-family: Viaoda Libre;
}

.user{
  display: none;
  position: absolute;
  top: 0.9em;
  right: 3.5em;
}
.user a{
  color: black;
}
.language{
  display: none;
  position: absolute;
  top: 0.9em;
  right: 5.5em;
}
.logo img{
    height: 6em;
    margin-left: -1em;
}
.menu{
    position: absolute;
    right: .5em;
    top: 2.2em;
}
.dropbtn {
    background-color: white;
    color: rgba(0,0,0,0.7);
    padding: 1em;
    font-size: 1em;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    text-align: center;
    left: -7em;
    background-color: rgba(255,255,255,0.9);
    min-width: 10em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: .75em 1em;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
    border-radius: .5em;
    text-align: center;
  }
  .dropdown:hover .user, .dropdown:hover .language{
    display: block;
  }
  .show {
    display: block;
  }

}
@media only screen and (min-width:414px)  {
  .menu{
    top: 2.4em;
  }
  .logo img{
    margin-top: .5em;
    height: 6.5em;
  }
  .dropbtn, .user, .language{
    font-size: 1.2em;
  }
  .dropdown-content{
    font-size: 1.25em;
  }
  .dropdown-content a{
    padding: 1.25em 1em;
  }
}@media only screen and (min-width:600px){
  .menu{
    top: 3em;
  }
  .logo img{
    height: 8.5em;
  }
  .dropbtn, .user, .language{
    font-size: 1.5em;
  }
  .dropdown-content{
    font-size: 1.4em;
  }
}
@media only screen and (min-width:720px){
  .menu{
    top: 4em;
  }
  .logo img{
    height: 12.5em;
  }
  .dropbtn, .user, .language{
    font-size: 2em;
  }
  .dropdown-content{
    font-size: 1.75em;
  }
}
@media only screen and (min-width:1024px){
  .menu{
    top: 3em;
  }
  .logo img{
    height: 7.5em;
    margin-top: 0em;
  }
  .dropbtn, .user, .language{
    font-size: 1em;
  }
  .dropdown-content{
    font-size: 1em;
  }
  

}