body{
	margin:0;
}
.signInForm {
	position: relative;
	width: 80vw;
	border: 2px solid #ccc;
    padding: 1.25em .62em 0.8em .62em;
	margin: 4em auto 5em auto;
	background: #fff;
	border-radius: 15px;
	font-size: 1em;
}

.signInForm h2 {
	text-align: center;
	margin: .75em;
}

.signInForm input {
	display: block;
	border: 2px solid #ccc;
	width: 95%;
	padding: .5em;
	margin: .5em auto;
	border-radius: 5px;
}
.signInForm label {
	color: #888;
	padding: .5em;
}

.signInForm button {
	float: right;
	background: #555;
	padding: .5em .625em;
	color: #fff;
	border-radius: 5px;
	margin-right: .5em;
	border: none;
	font-size: 1em;
}
.signInForm button:hover{
	opacity: .7;
}
.signInForm .error {
   background: #F2DEDE;
   color: #A94442;
   padding: .5em;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

.signInForm .success {
   background: #D4EDDA;
   color: #40754C;
   padding: .5em;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

.signInForm h1 {
	text-align: center;
	color: #fff;
}

.signInForm .ca {
	font-size: .75em;
	display: inline-block;
	padding: .25em .75em;
	text-decoration: none;
	color: #444;
}
.signInForm .ca:hover {
	text-decoration: underline;
} 
.success{
	text-align: center;
    color:green;
	margin: 0em 2em;

}
.error{
    color: red;
    text-align: center;
    margin: 0em 2em;
}
.forgotPassForm {
	position: relative;
	text-align: center;
	width: 80vw;
	border: 2px solid #ccc;
    padding: 1.25em .62em 0.8em .62em;
	margin: 4em auto 5em auto;
	background: #fff;
	border-radius: 15px;
	font-size: 1em;
}
.forgotPassForm h2 {
	text-align: center;
	margin: .75em;
}

.forgotPassForm input {
	display: block;
	border: 2px solid #ccc;
	width: 95%;
	padding: .5em;
	margin: .5em auto;
	border-radius: 5px;
}
.forgotPassForm label {
	color: #888;
	padding: .5em;
}

.forgotPassForm .error {
   background: #F2DEDE;
   color: #A94442;
   padding: .5em;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

.forgotPassForm .success {
   background: #D4EDDA;
   color: #40754C;
   padding: .5em;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

.forgotPassForm h1 {
	text-align: center;
	color: #fff;
}

.forgotPassForm .ca {
	font-size: 14px;
	display: inline-block;
	padding: .5em;
	text-decoration: none;
	color: #444;
}
.forgotPassForm .ca:hover {
	text-decoration: underline;
} 
#forgotPassSubmit{
	display: inline;
	border: 2px solid #ccc;
	width: 45%;
	padding: .5em;
	margin: .5em;
	border-radius: 5px;
}
.forgotPassLogged {
	position: relative;
	text-align: center;
  	height: 21vh;
	width: 80vw;
	border: 2px solid #ccc;
	padding: 2.5em;
	margin: 4em auto 5em auto;
	background: #fff;
	border-radius: 15px;
	font-size: 1em;
}

.resetCode {
	position: relative;
  	height: 50vh;
	width: 80vw;
	border: 2px solid #ccc;
    padding: 1.25em .62em 0.8em .62em;
	margin: 4em auto 5em auto;
	background: #fff;
	border-radius: 15px;
	font-size: 1em;
}

.resetCode h2 {
	text-align: center;
	margin: .75em;
}

.resetCode input {
	display: block;
	border: 2px solid #ccc;
	width: 95%;
	padding: .5em;
	margin: .5em auto;
	border-radius: 5px;
}
.resetCode label {
	color: #888;
	padding: .5em;
}

.resetCode button:hover{
	opacity: .7;
}

.resetCode button {
	display: block;
	border: 2px solid #ccc;
	width: 95%;
	padding: .5em;
	margin: .5em auto;
	border-radius: 5px;
}
.resetCode a {
color: red;
}

.newPass {
	position: relative;
	text-align: center;
  	height: 58vh;
	width: 80vw;
	border: 2px solid #ccc;
    padding: 1.25em .62em 0.8em .62em;
	margin: 4em auto 5em auto;
	background: #fff;
	border-radius: 15px;
	font-size: 1em;
}

.newPass h2 {
	text-align: center;
	margin: .75em;
}

.newPass input {
	display: block;
	border: 2px solid #ccc;
	width: 95%;
	padding: .5em;
	margin: .5em auto;
	border-radius: 5px;
}
.newPass label {
	color: #888;
	padding: .5em;
}

.newPass a:hover {
	text-decoration: underline;

}

.codeVerification {
	position: relative;
	top: 25%;
	left:10%;
  	height: 50vh;
	width: 80vw;
	border: 2px solid #ccc;
	padding: 1.25em .62em 0.8em .62em;
	margin: 4em 0em 5em 0em;
	background: #fff;
	border-radius: 15px;
	font-size: 1em;
}

.codeVerification h2 {
	text-align: center;
	margin: .75em;
}

.codeVerification input {
	display: block;
	border: 2px solid #ccc;
	width: 95%;
	padding: .5em;
	margin: .5em auto;
	border-radius: 5px;
}

.codeVerification label {
	color: #888;
	padding: .5em;
}

.codeVerification button {
	display: block;
	border: 2px solid #ccc;
	width: 95%;
	padding: .5em;
	margin: .5em auto;
	border-radius: 5px;
}
.codeVerification a {
color: red;
}
.codeVerification button:hover{
	opacity: .7;
}

@media only screen and (min-width:414px)  {
	.signInForm{
		font-size: 1.5em;
	}
	.signInForm label{
		font-size: 1.1em;
	}
	.signInForm input{
		font-size: .75em;
	}
	.signInForm .ca{
		font-size: .8em;
	}
	.forgotPassForm{
		font-size: 1.3em;
	}
	.forgotPassForm input {
		font-size: .75em;
	}
	#forgotPassSubmit{
		font-size: 1em;
	}
	.success{
		font-size: 1.5em;
	}
	.error{
		font-size: 1.5em;
	}
	.resetCode{
		height: 41vh;
	}
	.resetCode input, .resetCode button{
		font-size: 1em;
		padding: .75em;
		margin: 1em auto;
	}
	.newPass{
		font-size: 1.25em;
		height: 47GIT INIT
		vh;
	}
	.newPass input{
		font-size: .75em;
		padding: .75em;
		margin: 1em auto;
	}
}
@media only screen and (min-width:720px){
	main{
	  font-size: 1.25em;
	}
  }
@media only screen and (min-width:1024px){
  main{
    font-size: .75em;
   }
   .signInForm{
	   width: 50vw;
	   padding: 1.25em 1.62em 2em 1.62em;
   }
   .signInForm input{
	   margin:1em auto;
   }
}