.predicationsTitle{
    font-size: 1.75em;
    text-align: center;
    padding: 2.5em;
}

.predications{
    margin: 1em;
    text-align: center;
}

.predicationTitle{
    margin: 1.5em;
}

.predicationDate{
    font-size: .7em;
    text-align: end;
}

.predicationContent{
    text-align: center;
    font-size: 1.2em;
}