@media only screen and (min-width:360px)  {

.predicationsTitle{
    font-size: 1.75em;
    text-align: center;
    padding: 1.5em;
}

.predications{
    margin: 1em;
}

.predicationTitle{
    margin: 1.5em;
    text-align: center;
}

.predicationDate{
    padding: .5em;
    font-size: .7em;
    text-align: right;
}

.predicationContent{
    padding: .5em 1em;
    text-align: center;
    font-size: 1.2em;
}
.predicationEdit{
    position: relative;
    top: -1em;
    text-align: end;
}
.predicationEdit .fa-edit{
    color: black;
}
.predicationEditForm{
    position: relative;
    width: 75%;
    margin: 20px auto;
    margin-bottom: 15vh;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2.5px 5px #ccc;
    font-size: 1.15em;
}
.predicationEditFormContent{
    padding: 1em;
}
.predicationEditForm h3{
    margin: 1em;
}
.predicationEditForm form input{
    margin: 1em 0em;
}

.predicationTitleB{
    margin:1em 0em;
}

.predicationDateB{
    font-size: .7em;
    text-align: right;
}

.predicationContentB{
    margin:0em .5em;
    font-size: 1.2em;
}
.predicationEdit{
    position: relative;
    top: -1em;
    text-align: end;
}
.predicationEdit .fa-edit{
    color: black;
}
.predicationEditForm{
    position: relative;
    width: 75%;
    margin: 20px auto;
    margin-bottom: 15vh;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2.5px 5px #ccc;
    font-size: 1.15em;
}
.predicationEditFormContent{
    padding: 1em;
}
.predicationEditForm h3{
    margin: 1em;
}
.predicationEditForm form input{
    margin: 1em 0em;
}
.predicationA{
    color: inherit;
    text-decoration: inherit;
}
.predicationA :hover{
    color: blue;
}
.predicationsList{
    margin-bottom: 3em;
}
}@media only screen and (min-width:414px)  {
    .predicationsTitle{
        font-size: 2em;
    }
    .predications h3{
        font-size: 1.75em;    
    }
    .predicationContent{
        font-size: 1.5em;
    }
    .predicationDate{
        font-size: 1em;
    }
    .predicationContentB{
        font-size: 1.5em;
    }
    .predicationDateB{
        font-size: 1em;
    }
    .predicationEditForm{
        font-size: 1.5em;
        width: 85%;
    }
    .predicationEditFormContent input{
        font-size: .75em;
    }
    #editPredicationButton{
        font-size: 1em;
        padding: .25em .75em;
    }
}
@media only screen and (min-width:720px){
    main{
      font-size: 1.25em;
    }
  }